body {
  margin: 0px;
  background-color: rgb(61, 61, 61);
}

.panel {
  background-color: rgb(51, 51, 51);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-color: rgb(74, 74, 255);
  border-radius: 6px;
  margin-top: 16px;
  min-height: 16px;
  box-shadow: 0px 0px 6px rgba(14, 14, 14, 0.802);
}

.small-panel {
  display: inline-block;
  max-width: 8%;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.text {
  color: rgb(218, 218, 218);
  font-family: Kanit;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 16px;
  overflow-wrap: break-word;
}

.text-sub {
  color: rgb(218, 218, 218);
  font-family: Kanit;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 12px;
  font-size: 100%;
}

.text-coins {
  color: white;
  font-family: Kanit;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 100%;
  position: relative;
}

.text-coin-small {
  width: 16px;
  padding-left: 3px;
  padding-right: 2px;
  position: absolute;
}

.text-coin-score {
  width: 8%;
  padding-left: 3px;
  padding-right: 2px;
}

.head-image {
  width: 100%;
  border-style: solid;
  border-color: rgb(50, 50, 50);
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}

.head-image:hover {
  opacity: 0.6
}

.team-score {
  border-style: solid;
  border-left-width: 3px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-color: rgb(74, 74, 255);
  display: inline-block;
  flex: 0 0 200px;;
  color: rgb(218, 218, 218);
  font-family: Kanit;
  padding-right: 4px;
  padding-left: 4px;
}

.canvases {
  margin-left: auto;
  margin-right: auto;
}

.checkLabel {
  cursor:pointer;
  margin-left: 6px;
  font-family: Kanit;
  color: white;
}

.checkBox {
  cursor: pointer;
  margin-right: 10px;
}

.single-panel {
  display: flex;
  justify-content: space-around;
}

.search-bar-player {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(212, 206, 255);
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  border-color: rgb(74, 74, 255);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  transition: 0.15s
}

.search-bar-player:hover {
  box-shadow: 0px 0px 10px rgba(14, 14, 14, 0.901);
}

.checkDiv {
  border-style: solid;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
  background-color: rgb(74, 80, 255);
  border-color: blue;
  border-width: 1px;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: 42%;
  margin-right: 42%;
  width: 24%;
}