body {
  height: 1200px;
}

.coinAveragePrescript {
  font-family: Kanit;
  font-size: 14px;
  line-height: 13px;
  color: rgb(42, 42, 42);
  margin-bottom: 0px;
  text-align: center;
}

.playerProfile {
  display: inline-block;
  width: 210px;
}

.playerSkin {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 170px;
  border-style:dotted;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-color:rgb(189, 187, 255);
  border-radius: 14px;
  border-width: 3px;
  background-color: rgb(205, 205, 255);
}

.playerName {
  font-family: Kanit;
  color: rgb(46, 46, 46);
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.coinCount {
  position: relative;
  font-family: Kanit;
  color: rgb(70, 86, 255);
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(199, 195, 237);
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgb(103, 100, 204);
  border-width: 1px;
  border-radius: 14px;
  margin-top: 6px;
  padding-bottom: 2px;
}

.coinImageBig {
  position: absolute;
  width: 30px;
  top: 8px;
  right: 6px;
}

.coinImage {
  width: 16px;
  margin-left: 3px;
  position: absolute;
  top: 4px;
  right: 46px;
}

.displayDiv {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style:ridge;
  border-width: 3px;
  border-color: rgb(53, 76, 255);
  background-color: rgb(135, 131, 255);
  display: flex;
  color: white;
  width: 380px;
  font-size: 18px;
  font-family: Kanit;
  font-weight: 400;
  line-height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  min-height: 200px;
  position: absolute;
  top: 218px;
  left: 260px;
  border-radius: 6px;
}

.displayDivDiv {
  width: 70%;
}

.displayDivDiv2 {
  width: 30%;
}

.displayDivText {
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 3px;
  border-color: rgba(187, 187, 187, 0.266);
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.checkboxes {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 4px;
  border-style: dotted;
  border-radius: 10px;
  border-color: rgba(74, 160, 235, 0.508);
  position: relative;
}

.checkbox {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.checkLabel {
  font-family: Kanit;
  font-size: 15px;
  text-align: center;
}

.subTag {
  font-size: 10px;
  position: absolute;
  right: 10px;
  background-color: red;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 10px;
  line-height: 18px;
  color: rgb(239, 239, 239);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(161, 0, 0);
  bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 1px;
}

label {
  font-family: Kanit;
  font-size: 15px;
}

.roundNumber {
  font-size: 14px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
}

.subCheckDiv {
  width: 100%;
  padding-left: 4px;
}

.header-bar {
  position:fixed;
  width: 100%;
  background-image: url('background-imagery.webp');
  top: 0px;
  left: 0px;
  height: 70px;
  z-index: 2;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(107, 181, 255);
}

body {
  padding-top: 60px;
}

.chartBox {
  position: absolute;
  right: 16px;
  top: 480px;
}

.search-bar-2 {
  width: 200px;;
  height: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(60, 99, 255);
  cursor: pointer;
  outline: none;
  color: rgb(77, 77, 77);
  font-family: Kanit;
  font-weight: 500;
  font-size: 18px;
  border-radius: 12px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
}

.search-bar-2:hover {
  transition: box-shadow 0.15s;
  box-shadow: 0px 0px 10px rgba(90, 90, 90, 0.681)
}

.search-bar-2::placeholder {
  font-size: 18px;
}

.search-button-2 {
  background-color: white;
  color: rgba(77, 77, 77, 0.855);
  border-style: solid;
  border-color: rgb(60, 99, 255);
  border-width: 3px;
  height: 36px;
  margin-left: 6px;
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Kanit;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 30px;
}

.search-button-2:hover {
  transition: box-shadow 0.15s;
  box-shadow: 0px 0px 8px rgba(90, 90, 90, 0.681)
}


.search-row {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.pieChart {
  position: absolute;
  right: 40px;
  top: 100px;
}