.tourney-links {
  background-color: rgb(61, 61, 61);
  display: flex;
  height: 200px;
  align-items: center;
}

.link-container {
  flex: 1;
  background-color: rgb(51, 51, 51);
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgba(84, 87, 255, 0.879);
}

.link-image {
  display: block;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.91);
  margin-top: 10px;
  cursor: pointer;
  transition: opacity 0.5s;
  transition: box-shadow 0.15s;
}

.link-image:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 12px rgba(24, 24, 24, 0.899)
}

.link-text {
  width: 140px;
  display: block;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Kanit;
  font-weight: 500;
  color: white;
}

.discord-text-container {
  margin-left: 14px;
  background-color: rgb(51, 51, 51);
  font-family: Kanit;
  font-weight: 500;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(84, 87, 255, 0.879);
}

.discord-text {
  color: rgb(228, 228, 228);
}